/* Estilos básicos */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header,
footer {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

#sobre-a-loja img {
    max-width: 100%;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista-veiculos li {
    flex: 0 0 calc(30% - 20px);
    margin-bottom: 24px;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.item-central {
    margin: 0 auto;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

.carousel-imagens {
    display: none;
}

footer {
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .lista-veiculos li {
        flex: 0 0 calc(50% - 20px);
    }

    .item-central {
        margin: 0 auto;
    }
}

/* Responsividade para tablets */
@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    header .container,
    footer .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Responsividade para smartphones */
@media screen and (max-width: 480px) {
    nav {
        padding: 10px 0;
    }

    nav ul li {
        margin-left: 0;
    }

    .container {
        width: 100%;
    }

    header .container,
    footer .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .lista-veiculos li {
        flex: 0 0 calc(100% - 20px);
        text-decoration: none;
    }

    .lista-veiculos li img {
        margin-bottom: 10px;
        text-decoration: none;
    }
}