/* Estilos básicos */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 95%;
    }

    #carousel-imagens img {
        width: 100%;
        height: auto;
    }
}

/* Responsividade para tablets */
@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    header .container,
    footer .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Responsividade para smartphones */
@media screen and (max-width: 480px) {
    nav {
        padding: 10px 0;
    }

    nav ul li {
        margin-left: 0;
    }

    .container {
        width: 100%;
    }

    header .container,
    footer .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .lista-veiculos li {
        max-width: 100%;
    }

    .lista-veiculos li img {
        margin-bottom: 10px;
    }
}